## Jacob Vander Sanden
## Web Scraping Project - Part 2: Cleaning
## 11/13/2024

In [2]:
# imports 
import pandas as pd
import re as re

In [3]:
# Open scraped data to clean our first dataset: amazon_raw 
amazon_raw = pd.read_excel('amazon_raw.xlsx')

# Check all data came out correct
display(amazon_raw.head(5))
amazon_raw.shape

,Amazon_Link,Amazon_Rating,Amazon_Sales_Rank,Amazon_Total_Reviews
0,https://www.amazon.com/Tale-Two-Cities-Charles...,4.4 out of 5,"Best Sellers Rank: #1,748 Free in Kindle Store...","33,644 ratings"
1,https://www.amazon.com/little-Prince-Antoine-S...,4.9 out of 5,"Best Sellers Rank: #40,864 in Books (See Top 1...","1,686 ratings"
2,https://www.amazon.com/Harry-Potter-Sorcerers-...,4.8 out of 5,#68 in Audible Books & Originals (See Top 100 ...,"138,128 ratings"
3,https://www.amazon.com/And-Then-There-Were-Non...,4.4 out of 5,"#1,123 in Audible Books & Originals (See Top 1...","50,377 ratings"
4,https://www.amazon.com/Dreams-My-Father-Story-...,4.7 out of 5,"#7,822 in Audible Books & Originals (See Top 1...","10,636 ratings"

(171, 4)

In [4]:
# Convert column names to snake case 
amazon_raw.columns = amazon_raw.columns.str.strip().str.lower().str.replace(' ', '_')

display(amazon_raw.columns)

Index(['amazon_link', 'amazon_rating', 'amazon_sales_rank',
       'amazon_total_reviews'],
      dtype='object')

In [5]:
# Clean amazon_rating to only be numeric
# Make data all strings
amazon_raw['amazon_rating'] = amazon_raw['amazon_rating'].astype(str)

# Delete part of the string
amazon_raw['amazon_rating'] = amazon_raw['amazon_rating'].str.replace(' out of 5', '', regex=False)

# Check code for correctness
display(amazon_raw['amazon_rating'].head(5))

0    4.4
1    4.9
2    4.8
3    4.4
4    4.7
Name: amazon_rating, dtype: object

In [6]:
# Clean amazon_total_reviews to only be numeric 
amazon_raw['amazon_total_reviews'] = amazon_raw['amazon_total_reviews'].str.replace(' ratings', '', regex=False).str.replace(',', '', regex=False)

# Check code for correctness
display(amazon_raw.head(5))

,amazon_link,amazon_rating,amazon_sales_rank,amazon_total_reviews
0,https://www.amazon.com/Tale-Two-Cities-Charles...,4.4,"Best Sellers Rank: #1,748 Free in Kindle Store...",33644
1,https://www.amazon.com/little-Prince-Antoine-S...,4.9,"Best Sellers Rank: #40,864 in Books (See Top 1...",1686
2,https://www.amazon.com/Harry-Potter-Sorcerers-...,4.8,#68 in Audible Books & Originals (See Top 100 ...,138128
3,https://www.amazon.com/And-Then-There-Were-Non...,4.4,"#1,123 in Audible Books & Originals (See Top 1...",50377
4,https://www.amazon.com/Dreams-My-Father-Story-...,4.7,"#7,822 in Audible Books & Originals (See Top 1...",10636

In [7]:
# Clean amazon_sales_rank to only be numeric, note that the data is formatted two different ways so a loop is needed
# Define function to loop through 2 different data formats
def clean_sales_rank(rank):
    lines = str(rank).split('\n')  # Split by lines for multi-line data
    for line in lines:  
        match = re.search(r'#([\d,]+)', line)  
        if match:
            return match.group(1).replace(',', '')  

# Apply the function to the amazon_sales_rank column
amazon_raw['amazon_sales_rank'] = amazon_raw['amazon_sales_rank'].apply(clean_sales_rank)

# Display the cleaned data
display(amazon_raw.head(5))

,amazon_link,amazon_rating,amazon_sales_rank,amazon_total_reviews
0,https://www.amazon.com/Tale-Two-Cities-Charles...,4.4,1748,33644
1,https://www.amazon.com/little-Prince-Antoine-S...,4.9,40864,1686
2,https://www.amazon.com/Harry-Potter-Sorcerers-...,4.8,68,138128
3,https://www.amazon.com/And-Then-There-Were-Non...,4.4,1123,50377
4,https://www.amazon.com/Dreams-My-Father-Story-...,4.7,7822,10636

In [8]:
# Save the cleaned data to a new Excel file
amazon_raw.to_excel('amazon_cleaned.xlsx', index=False)

In [9]:
# Open scraped data to clean our second dataset: best_selling_books
best_selling_books = pd.read_csv('best_selling_books.csv')

# Check all data came out correct
display(best_selling_books.head(5))
best_selling_books.shape

,Book,Author(s),Original language,First published,Approximate sales in millions,Genre,Amazon Link
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,Historical fiction,https://www.amazon.com/Tale-Two-Cities-Charles...
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,Novella,https://www.amazon.com/little-Prince-Antoine-S...
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy,https://www.amazon.com/Harry-Potter-Sorcerers-...
3,And Then There Were None,Agatha Christie,English,1939,100.0,Mystery,https://www.amazon.com/And-Then-There-Were-Non...
4,Dream of the Red Chamber (紅樓夢),Cao Xueqin,Chinese,1791,100.0,Family saga,https://www.amazon.com/Dreams-My-Father-Story-...

(171, 7)

In [10]:
# Convert column names to snake case 
best_selling_books.columns = best_selling_books.columns.str.strip().str.lower().str.replace(' ', '_')

display(best_selling_books.columns)

Index(['book', 'author(s)', 'original_language', 'first_published',
       'approximate_sales_in_millions', 'genre', 'amazon_link'],
      dtype='object')

In [11]:
# Delete genre column 
best_selling_books = best_selling_books.drop(columns=['genre'])

# Check the updated DataFrame
display(best_selling_books.head(5))

,book,author(s),original_language,first_published,approximate_sales_in_millions,amazon_link
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,https://www.amazon.com/Tale-Two-Cities-Charles...
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,https://www.amazon.com/little-Prince-Antoine-S...
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,https://www.amazon.com/Harry-Potter-Sorcerers-...
3,And Then There Were None,Agatha Christie,English,1939,100.0,https://www.amazon.com/And-Then-There-Were-Non...
4,Dream of the Red Chamber (紅樓夢),Cao Xueqin,Chinese,1791,100.0,https://www.amazon.com/Dreams-My-Father-Story-...

In [12]:
# Save the cleaned data to a new Excel file
best_selling_books.to_csv('best_selling_books_cleaned.csv', index=False)